@page "/createteam"
@using BallBox.Client.Models
@using BallBox.Client.Services
@inject TeamService TeamService
@inject NavigationManager NavigationManager

<h3>Create Team</h3>


<EditForm Model="newTeam" OnValidSubmit="HandleSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<InputText placeholder="Name" id="name" @bind-Value="newTeam.Name" />
	<InputText placeholder="Prim. Color" id="primaryColor" @bind-Value="newTeam.PrimaryColor" />
	<InputText placeholder="Sec. Color" id="secondaryColor" @bind-Value="newTeam.SecondaryColor" />
	<button type="submit">Create Team</button>
</EditForm>


@code {
	private Team newTeam = new Team();

	private async Task HandleSubmit()
	{
		await TeamService.CreateTeamAsync(newTeam);
		NavigationManager.NavigateTo("/allteams");
	}
}