@page "/createteam"
@using BallBox.Client.Models
@using BallBox.Client.Services
@inject TeamService TeamService
@inject NavigationManager NavigationManager

<h3>Create Team</h3>

<EditForm Model="newTeam" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-control">
        <label>Team Name</label>
        <InputText class="form" @bind-Value="newTeam.Name" />
        <br>
        <label>Primary Color</label>
        <InputText @bind-Value="newTeam.PrimaryColor" />
        <br>
        <label>Secondary Color</label>
        <InputText @bind-Value="newTeam.SecondaryColor" />
    </div>
    <button type="submit">Create Team</button>
</EditForm>

@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}

@code {
    private Team newTeam = new();
    private string? errorMessage;

    private async Task HandleSubmit()
    {
        errorMessage = null;
        newTeam.Players = new List<Player>();
        newTeam.Overall = newTeam.CalculateTeamOverall();

        try
        {
            await TeamService.CreateTeamAsync(newTeam);
            NavigationManager.NavigateTo("/allteams");
        }
        catch (Exception ex)
        {
            errorMessage = $"Error: {ex.Message}";
        }
    }
}
