@page "/createteam"
@using BallBox.Client.Models
@using BallBox.Client.Services
@inject TeamService TeamService
@inject NavigationManager NavigationManager

<h3>Create Team</h3>

<SuccessMessage @ref="successMessage" />


<EditForm Model="newTeam" OnValidSubmit="HandleSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<InputText placeholder="Name" id="name" @bind-Value="newTeam.Name" />
	<InputText placeholder="Prim. Color" id="primaryColor" @bind-Value="newTeam.PrimaryColor" />
	<InputText placeholder="Sec. Color" id="secondaryColor" @bind-Value="newTeam.SecondaryColor" />
	<button type="submit">Create Team</button>
</EditForm>


@code {
	private Team newTeam = new Team();
	private SuccessMessage successMessage;

    private async Task HandleSubmit()
    {
        try
        {
            await TeamService.CreateTeamAsync(newTeam);
            successMessage.Message = "Team created successfully!";
            successMessage.ShowMessage = true;
            await Task.Delay(2000); // Optional delay before redirecting
            NavigationManager.NavigateTo("/allteams"); // Replace "/teams" with your actual team list page
        }
        catch (Exception ex)
        {
            // Handle exceptions here if necessary
            Console.WriteLine($"Error creating team: {ex.Message}");
        }
    }
}