@using BallBox.Models
<div class="player-info">
    <div class="player-goals">
        @for (int i = 0; i < Player.GoalsCurrentMatch; i++)
        {
            <img src="\media\game-goal-ball.png" alt="Goal Ball" class="goal-icon" />
        }
    </div>
    <span class="player-name"> @Player.Name </span>
    <span class="player-number"> @Player.Number </span>
</div>

@code {
    [Parameter] public Player Player { get; set; }
}
