* {
    font-family: Bahnschrift;
    /*font-family: Leelawadee*/
}


.game-box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
}

.game-info {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    padding: 5px;
}

.game-buttons {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -15px;
    margin-bottom: -15px;
    width: 100%;
}
.game-buttons button {
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 8px;
}
.game-buttons button:hover {
    background-color: #666;
    color: #eee;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:25px;
    border-radius: 8px 8px 0px 0px;
    background-color: #09ccff;
    color: #333;
}

.game-plan-background {
    background-color: #03C03C;
    padding: 10px;
}

.game-plan {
    display: flex;
    justify-content: space-between;
    border: 5px solid white;
    width: 100%;
}

    .game-plan > div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #03C03C;
        width: 100%;
        height: 220px;
    }

.game-zone-a-details {
    position: relative;
    height: 120px;
    width: 70%;
    margin-left: -35px;
    border: 5px solid white;
}

.game-zone-e-details {
    position: relative;
    height: 120px;
    width: 70%;
    margin-right: -35px;
    border: 5px solid white;
}

.game-zone-c-details {
    background-color: white;
    height: 100%;
    width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-zone-c-details-aa {
    position: absolute;
    height: 70px;
    width: 70px;
    border: 5px solid white;
    border-radius: 50%;
}

.game-zone-active-zone {
    background-color: #09FF3C !important;
}

    .game-zone-active-zone:before {
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 40;
        padding: 5px;
        content: "";
        background-image: url("media/game-goal-ball.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
    }

.game-events {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: flex-start;
    width: 100%;
    background-color: #09ccff;
    font-size: 0.8rem;
    border-radius: 0px 0px 8px 8px;
}

.game-team-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #999;
    padding: 5px;
}

.game-home-team-details, .game-away-team-details {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin: 1px;
}

.game-details-team-name {
    font-size: 1.3rem;
    color: #666;
}

.player-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2px;
}

.player-number, .player-goals {
    color: #ff0951;
    max-width: 70px;
}

.player-goals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position:absolute;
    top: 5px;
    right: 5px;
    z-index: 50;
}

.goal-icon {
    width: 12px;
    height: 12px;
    margin: 2px;
}

.player-name {
    color: dimgray;
}

.game-away-team-details {
    flex-direction: column;
}

    .game-away-team-details .game-details-team-name {
        text-align: right;
    }

    .game-away-team-details .player-info {
        justify-content: flex-end;
        align-items: center;
    }

    .game-away-team-details .player-number {
        text-align: right;
    }

    .game-away-team-details .player-goals {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 5px;
    }


.player-card-group {
    background-color: #eee;
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 8px;
}
.player-card-group-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player-card-group-team-name {
    font-size: 2rem;
    color: #666;
    font-weight:600;
}
.player-card-group-team-overall {
    font-size: 4rem;
    height: 70px;
    margin-top: -20px;
    color: #ccc;
}
.player-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100px;
    height: 110px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 8px;
    padding: 8px;
}

.player-card-shirt-top {
    background-color: #fff;
    height: 50%;
    width: 90%;
    position: relative;
    z-index: 5;
    border: 1px solid #666;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-card-shirt-bottom {
    background-color: #fff;
    height: 50%;
    width: 60%;
    z-index: 6;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    margin-top: -5px;
    margin-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player-card-name {
    position: absolute;
    top: 15%;
    font-size: 0.8rem;
    font-weight: 600;
}

.player-card-number {
    position: absolute;
    bottom: 5%;
    font-size: 1.8rem;
    font-weight: bold;
}

.player-card-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.player-card-details-overall {
    font-size: 1.1rem;
    height: 100%;
    margin-top: -2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    line-height: 1;
}

    .player-card-details-overall::after {
        content: "OVR";
        font-size: 0.5rem;
        margin-top: -2px;
    }

.player-card-details-position {
    font-size: 0.6rem;
    color: #aaa;
    height: 100%;
}